.instruction-container {
    margin-top: 1rem;
    background-color: lightcyan;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.5rem;
  }
  
  .instruction-step {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .substep {
    margin-left: 1rem;
  }
  


  