.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }  
  
  .error-image {
    max-width: 100%;
  }

  .error-content {
    text-align: center;
    font-size: 40px;
  }
  
  .go-back-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
  }
  
  .go-back-button:hover {
    background-color: #d32f2f;
  }
  